{% extends "base.html" %}
{% block content %}
<h1>利用者一覧</h1>

<div class="cards">
  {% for c in clients %}
    <a class="card-item" href="{{ url_for('client_detail', client_id=c.id) }}">
      <div class="card-head">
        <div class="card-left">
          <span class="card-code">#{{ c.client_code }}</span>
          <span class="card-name">{{ c.name }}</span>


        </div>
        <div class="card-right">
          <span class="card-sub">種別：{{ c.type }}</span>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}